@use '../../styles/_variables.scss' as *;
@use '../../styles/_mixins.scss' as *;

.filters {

    &__form {
        @include flex-setup($direction: column, $alItems: center);
    }

    &__form-section {
        @include flex-setup($wrap: wrap, $justContent: space-around, $gap: 2rem);
        border: none;
        margin: 2rem auto;
    }

    &__actions {
        button {
            margin: auto 2rem;
        }
    }
}



.recipes__container {
    @include flex-setup($wrap: wrap, $justContent: space-around);
    margin: 1rem auto;

    div {
        width: unset;
    }
}

@media screen and (max-width: 425px) {

    .filters__actions {
        display: flex;

        button {
            margin-left: 1rem;
        }
    }
}

@media screen and (max-width: 680px) {
    .filters__form-section {
        > div {
            width: 100%;
        }
    }
}