@use '../../styles/_variables.scss' as *;

.recipe__card {

}

.recipe__card-img {
    &:hover {
        overflow: hidden;
        img {
            transform: scale(1.2);
            filter: contrast(1);
        }
    }

}

.recipe__card-title {
    font-weight: 600;
    margin-bottom: .5rem;

}

.recipe__card-info {
    font-size: 12px;
    display: flex;
    justify-content: space-between;

    ion-icon {
        
    }


}
