@use '../../styles/_mixins.scss' as *;
@use '../../styles/_typography.scss' as *;
@use '../../styles/_variables.scss' as *;


.article {

    &__img {
        margin: 1.5rem 0px;
        img {
            height: 44vh;
            width: 100%;
            object-fit: cover;
            margin: 0px auto;
     
        }

    }

    &__content {
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        text-align: justify;
       

    }

    &__source {
        margin: 1.5rem 0px;
        
        span {
            font-weight: 600;
        }


        &-url {
        font-size: 16px;
        color: $color-primary-dark;

        &:hover {
            color: $color-primary-dark;
        }

    }
}
}

.articles {
    @include flex-setup($wrap: wrap);
    &__form {
        margin: 0px auto;
        padding-top: 2em;
        width: 60%;
        position: relative;
    }

    &__img-label {
        position: absolute;
        bottom: 20%;
        left: 25%;
    }
}