@use '../../styles/_mixins.scss' as *;
@use '../../styles/_typography.scss' as *;
@use '../../styles/_variables.scss' as *;

.recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 1rem auto;
    }

    &__counter {
        text-align: center;
        margin: 1rem auto;
    }

}

.recipe {
    &__header {
        display: flex;
        gap: 2rem;

    }


    &__header-title {
        font-size: 2rem;
        color: $color-primary-dark;
        text-align: center;
        margin-bottom: 1rem;
    }


    &__desc {
        display: flex;
        gap: 3rem;
        margin: auto;
        padding: 3rem 0;

        li {
            list-style-type: none;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                left: -1.5rem;
                top: 9px;
                width: 10px;
                display: block;
                border-top: 2px solid $color-primary;
            }
        }
    }

    &__desc-title {
        color: $color-primary;
        text-align: center;
        padding-bottom: 1rem;
        font-size: 1.6rem;
    }

    &__ingredients {
        width: 30%;



    }

    &__instructions {
        width: 70%;


    }

    &__header-info {
        flex: 1;

        h2 {
            margin-bottom: 1rem;
        }

        p {
            text-align: justify;
        }
    }

    &__header-img {
        max-height: 534px;
        max-width: 400px;

    }

    &__header-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1.5rem;
        padding: 1.5rem;
        background-color: #eee;

        margin: 1.5rem auto;

        border-radius: 18px;

        ion-icon {
            color: $color-primary-dark;
        }

        a {
            text-decoration: underline;
            text-align: center;

            ion-icon {
                margin-right: 0.5rem;
            }
        }
    }
}