@use '../../styles/_mixins.scss' as *;
@use '../../styles/_typography.scss' as *;
@use '../../styles/_variables.scss' as *;
 
main {
    position: relative;
}

.personal-details {
    margin-top: 5%;
    &__header {
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 50%;
        background-color: lighten($color-gray-light, 20%);
        border-radius: 1rem;
        padding: 1rem;
        box-shadow: rgba(0, 0, 0, 0.5);
        max-width: 500px;

        input {
            box-shadow: rgba(0, 0, 0, 0.11);
            border: none;
            border-radius: 3rem;
            height: 3rem;
            width: 100%;
            font-family: 'Montserrat', sans-serif;
            padding: 0 3rem;
            font-size: 1rem;
            border: 1px solid $color-primary-dark;
        }

        .profileName {
            background: #424242;
        }
    }


}
.btn {
    background: $color-primary;
    border: none;
    color: $color-white;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 20px;
    padding: 0.6rem 0.8rem;
    margin: 1rem 0;
    cursor: pointer;
    width: 6rem;

    &:hover {
        background-color: $color-primary-dark;
    }
}

.btn-create {
    background-color: $color-green;
    border: none;
    color: $color-white;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 20px;
    padding: 0.6rem 0.8rem;
    margin: 1rem 0;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
  
    &:hover {
        background-color: darken($color-green, 10%);
    }
  }

.btn-logout {
    background: $color-orange;
    border: none;
    color: $color-white;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 20px;
    padding: 0.6rem 0.8rem;
    margin: 1rem 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;

    &:hover {
        background-color: darken($color-orange, 10%);
    }
}

button a {
    text-decoration: none;
    color: inherit;
}