@use '../../styles/_mixins.scss' as *;
@use '../../styles/_typography.scss' as *;
@use '../../styles/_variables.scss' as *;

.personal-details {
    margin-top: 5%;

    &__header {
        @include flex-setup($justContent: space-around, $alItems: flex-end);
        background-color: lighten($color-gray-light, 20%);
        padding: 1rem;
        margin: 1.5em 0 2em 0;
        border-radius: 14px;
    }

    &__info {
        @include flex-setup($direction: column, $alItems: center);
    }

    &__icon {
        font-size: 120px;
        color: $color-gray-dark;
    }

    &__form {
        @include flex-setup($direction: column, $alItems: center, $gap: 1rem);
        width: 50%;
    }

}


@media only screen and (max-width: 425px) {
    .personal-details__header {
        flex-direction: column;
        align-items: center;
    }

    .personal-details__form {
        width: 100%;

        div {
            display: flex;
        }

        button {
            margin-left: .5rem;
        }
    }
}