//COLORS
$color-primary: #D2386C;
$color-primary-dark: #93274c;
$color-primary-light: #F6d7e2;

$color-secondary: #F3DF4D;
$color-secondary-light: #F9efa6;

$color-gray-light: #C4C4C4;
$color-gray-dark: #15060B;
$color-cream: #FFFEF4;

$color-white: #fff;
$color-txt-light: #EDF6F9;
$color-black: #000;

$color-green: #40AE8F;
$color-orange: #FDAC53;
$color-red: #D91A3D;

//FONTS
$default-font-size: 1.6rem;

