@use './_mixins.scss' as *;
@use './_typography.scss' as *;
@use './_variables.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&family=Roboto:wght@300;400&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat, Roboto, Helvetica, Arial', sans-serif;
  // font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $color-gray-dark;
}

main {
  max-width: 70rem;
  min-height: 85vh;
  margin: 0px auto;
  padding: 2rem 3rem;
}

img {
  max-width: 100%;
  height: auto;
}

.splide__arrow--prev {
  left: -3rem !important;

}

.splide__arrow--next {
  right: -3rem !important;
}

.splide__pagination {
  bottom: -5%;
}

.splide__track {
  margin-bottom: 5%;
}