@use '../../styles/_variables.scss' as *;
@use '../../styles/_mixins.scss' as *;
@use '../../styles/_typography.scss' as *;

.header {
    @include flex-setup($alItems: center, $justContent: space-evenly);
    width: 100%;
    background-color: $color-primary;
    &__icon {
        color: $color-white;
        display: none;
    }

    &__buttons {
        margin-left: 2rem;
    }

}

.navbar {
    display: flex;
    align-items: center;
    position: relative;


    &__item {
        color: $color-white;
        text-decoration: none;
        padding: 1rem;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 20px;

        &:hover {
            color: $color-secondary-light;
            transition: ease-in-out all 0.4s;
        }

        &:visited,
        &:active {
            text-decoration: none;
        }
    }
}

.dropdown-menu:hover {
    .submenu {
        display: flex;
    }
}

.submenu {
    display: none;
    padding: 1rem 2rem;
    background: rgb(255, 254, 244);
    background: linear-gradient(0deg, rgba(255, 254, 244, 1) -90%, rgba(210, 56, 108, 1) 100%);
    position: absolute;
    top: 3rem;
    left: 0;
    z-index: 2;

    &__section {
        color: $color-white;
        display: flex;
        flex-direction: column;
        padding: 0 1.2rem;
        text-align: center;

        p {
            font-weight: 600;
            margin-bottom: .5rem;
        }

    }
}

.logo {
    font-family: 'Pacifico', cursive;
    // font-size: 1.5em;
    font-size: 24px;
    line-height: 63px;
    color: $color-secondary;
    text-decoration: none;
}


.is-active {
    color: $color-secondary;
}


@media screen and (max-width: 900px) {
    .header {
        position: relative;

        &__icon {
            display: block;
            cursor: pointer;
        }

        &__buttons {
            display: none;
        }

        &.is-mobile {
            .navbar {
                display: none;

            flex-direction: column;
            position: absolute;
            top: 100%;
            height: calc(100vh - 77px);
            z-index: 2;
            left: 0%;
            width: 100%;
            background-color: $color-primary;
    
            span {
                padding: 1rem;
            }
        }

        .header__buttons {
            display: none;
        }
    }

    &.is-open {
        .navbar {
            display: flex;
        }

        .header__buttons {
            display: flex;
        }

    }

    }

    .navbar {
        display: none;

    }


    .dropdown-menu {
        position: relative;
        .submenu {
            // position: absolute;
            top: 100%;
            height: calc(100vh - 77px);
            z-index: 5;
            left: 0%;
            width: 100%;
            background: $color-primary;
            display: block;
        }
        &:hover {
        .submenu {
            display: none;
        }
    }
    }
    

}