@use '../../styles/_variables.scss' as *;
@use '../../styles/_mixins.scss' as *;
@use '../../styles/_typography.scss' as *;

.header {
    @include flex-setup($alItems: center, $justContent: space-evenly);
    width: 100%;
    background-color: $color-primary;

    &__icon {
        color: $color-white;
        display: none;
    }

    &__buttons {
        margin-left: 2rem;
    }

}

.navbar {
    @include flex-setup($alItems: center);
    position: relative;
    text-transform: uppercase;

    &__item {
        color: $color-white;
        text-decoration: none;
        padding: 1rem;
        cursor: pointer;
        font-size: 16px;
        line-height: 20px;

        &:hover {
            color: $color-secondary-light;
            transition: ease-in-out all 0.4s;

            ion-icon {
                transform: rotate(180deg);
            }
        }

        &:visited,
        &:active {
            text-decoration: none;
        }

        ion-icon {
            margin-left: .5rem;
            vertical-align: text-top;
        }
    }
}

.dropdown-menu{ 
    padding: 1rem;
    .navbar__item {
        padding: 0;
    }

    &:hover {
        .submenu {
            display: flex;
            transition: ease-in-out all 0.4s;
        }
}
}

.submenu {
    @include position-setup(absolute, $top: 3.5rem, $left: 0, $zIndex: 2);
    display: none;
    padding: 1rem 2rem;
    background: rgb(255, 254, 244);
    background: linear-gradient(0deg, rgba(255, 254, 244, 1) -90%, rgba(210, 56, 108, 1) 100%);

    &__section {
        @include flex-setup($direction: column);
        color: $color-white;
        padding: 0rem 1.2rem;
        text-align: center;
        line-height: 32px;

        p {
            font-weight: 600;
            margin-bottom: .5rem;
        }

        a:hover {
            color: $color-secondary-light;
            transition: ease-in-out all 0.4s;
        }

    }
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    line-height: 63px;
    color: $color-secondary;
    text-decoration: none;
}


.is-active {
    color: $color-secondary;
}


@media screen and (max-width: 1024px) {
    .header {
        position: relative;

        &__icon {
            display: block;
            cursor: pointer;
        }

        &__buttons {
            display: none;
        }

        &.is-mobile {
            .navbar {
                @include position-setup(absolute, $left: 0%, $top: 100%, $zIndex: 2);
                display: none;
                flex-direction: column;
                padding-bottom: 3rem;
                width: 100%;
                background-color: $color-primary;
            }

            .header__buttons {
                display: none;
            }
        }

        &.is-open {
            .navbar {
                display: flex;
            }

            .header__buttons {
                display: flex;
            }
        }
    }

    .navbar {
        display: none;
    }


    .dropdown-menu {
        @include flex-setup($direction: column, $alItems: center);
        position: relative;

        .submenu {
            @include flex-setup($alItems: center, $justContent: center, $wrap: wrap);
            position: relative;
            top: unset;
            z-index: 5;
            width: 100%;
            background: $color-primary;

            &.is-hidden {
                display: none;
            }
        }
    }


}