@use '../../styles/_mixins.scss' as *;
@use '../../styles/_typography.scss' as *;
@use '../../styles/_variables.scss' as *;

.forgot-password {
  cursor: pointer;
  color: $color-green;
  font-weight: 600;
  text-align: right;
  margin-right: 10rem;

  &:hover {
    color: darken($color-green, 10%);
  }
}

.form {
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  box-shadow: rgba(0, 0, 0, 0.5);
  max-width: 500px;
  position: relative;
}

.divider {
  text-align: center;
  width: 50%;
}

.btn-container {
  @include flex-setup($justContent: space-around, $alItems: center);
}

.signup-url {
  font-weight: 600;
  cursor: pointer;
  color: $color-primary;

  &:hover {
    color: darken($color-primary, 10%);
  }

}


.btn-container__social {
  @include flex-setup($justContent: space-around, $alItems: center);
  width: 50%;


}

.password-wrapper {
  position: relative;

  ion-icon {
    @include position-setup(absolute, $right: 5%, $top: 50%);
    transform: translateY(-50%);
  }

}