@use '../../styles/_mixins.scss' as *;
@use '../../styles/_typography.scss' as *;
@use '../../styles/_variables.scss' as *;

.not-found {
    @include flex-setup($direction: column, $alItems: center);
    gap: 1rem;

    &__image {
        padding-top: 2rem;
        width: 60%;
    }

    ion-icon {
        color: $color-primary;
        &:hover {
            color: darken($color-primary, 10%);
        }
    }   
}