@use '../../styles/_mixins.scss' as *;
@use '../../styles/_typography.scss' as *;
@use '../../styles/_variables.scss' as *;

.reset-password {
    position: relative;

    &__close{
        @include position-setup(absolute, $right: 0%, $top: -5%);
        cursor: pointer;
    }

    &__form {
        @include flex-setup($direction: column, $alItems: center);
        padding: 5%;
        gap: 1rem;
    }

    .home-icon {
        color: $color-primary;

        &:hover {
            color: darken($color-primary, 10%);
        }
    }
}