@use '../../styles/_mixins.scss' as *;
@use '../../styles/_variables.scss' as *;
@use '../../styles/_typography.scss' as *;

.btn {
    cursor: pointer;
    border-radius: 20px;
    padding: 0.6rem 0.8rem;
    border: none;
    text-transform: uppercase;
    color: $color-white;
    margin: 1rem 0px;
    min-width: 100px;

    &--primary {
        background-color: $color-primary;

        &:hover {
            background-color: darken($color-primary, 10%);
        }
    }

    &--secondary {
        background-color: $color-secondary;
        color: $color-black;
        
        &:hover {
            background-color: darken($color-secondary, 10%);
        }
    }

    &--login,
    &--create {
        background-color: $color-green;
        display: flex;
        align-items: flex-end;

        &:hover {
            background-color: darken($color-green, 10%);
        }
    }

    &--change {
        background-color: $color-orange;
        margin-left: 2em;

        &:hover {
            background-color: darken($color-orange, 10%);
        }
    }

    &--logout {
        background-color: $color-red;
        margin-left: 2em;

        &:hover {
            background-color: darken($color-red, 10%);
        }
    }

    &--more {
        @extend .btn--primary;
        position: absolute;
left: 50%;
transform: translateX(-50%);
    }

    &--create {}

}
