@use '../../styles/_variables.scss' as *;
@use '../../styles/_mixins.scss' as *;

.btn {
    cursor: pointer;
    border-radius: 20px;
    padding: 0.6rem 1rem;
    border: none;
    text-transform: uppercase;
    color: $color-white;
    margin: 1rem 0px;
    min-width: 100px;
    max-height: 44px;

    &--primary {
        background-color: $color-primary;
    }

    &--secondary {
        background-color: $color-secondary;
        color: $color-black;
    }

    &--login {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    &--login,
    &--create {
        background-color: $color-green;
    }

    &--change {
        background-color: $color-orange;
        margin-left: 2em;
    }

    &--logout {
        background-color: $color-red;
        margin-left: 2em;
    }

    &--more {
        @extend .btn--primary;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    &--google {
        background-color: #4285F4;
        display: flex;
        align-items: center;
        padding: 0.42rem 0.8rem;

        svg {
            margin-right: 1rem;
        }
    }

    &--loginIcon {
        color: $color-primary;
        background: transparent;

        ion-icon {
            font-size: 48px;
        }
    }

}

.btn-outline {
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    padding: 0.48rem 1rem;

    &--primary {
        border-color: $color-primary;
        color: $color-primary;
    }

    &--secondary {
        border-color: $color-secondary;
        color: $color-secondary;
        margin: unset;
    }

    &--danger {
        border-color: $color-red;
        color: $color-red;
        margin-left: 2em;
    }

    &--logged {
        border-color: $color-white;
        color: $color-white;
        margin: 0 1rem;
    }
}

@media screen and (max-width: 680px) {
    .btn {
        font-size: 12px;
    }
}

@include hover {
    .btn {
        &--primary {
            &:hover {
                background-color: darken($color-primary, 10%);
            }
        }

        &--secondary {

            &:hover {
                background-color: darken($color-secondary, 10%);
            }
        }

        &--login,
        &--create {
            &:hover {
                background-color: darken($color-green, 10%);
            }
        }

        &--change {
            &:hover {
                background-color: darken($color-orange, 10%);
            }
        }

        &--logout {
            &:hover {
                background-color: darken($color-red, 10%);
            }
        }

        &--google {
            &:hover {
                background-color: darken(#4285F4, 10%);
            }

        }

        &--loginIcon {
            &:hover {
                color: darken($color-primary, 10%);
            }
        }
    }

    .btn-outline {
        &--primary {
            &:hover {
                color: $color-white;
                background-color: $color-primary;
            }
        }

        &--secondary {
            &:hover {
                color: $color-black;
                background-color: $color-secondary;
            }
        }

        &--danger {
            &:hover {
                color: $color-white;
                background-color: $color-red;
            }
        }

        &--logged {
            &:hover {
                color: $color-black;
                background-color: $color-white;
            }
        }
    }

}