@use '../../styles/_mixins.scss' as *;
@use '../../styles/_variables.scss' as *;
@use '../../styles/_typography.scss' as *;

.filter {
    @include flex-setup($alItems: center);
    width: 100%;
    margin: 8px 0px;
    outline: none;
    border: none;

    &__input {
        width: 26px;
        height: 26px;
        background: #f1f1f4;
        appearance: none;
        border: none;
        outline: none;
        cursor: pointer; 
        position: relative;
        transition: all .4s ease-in;
        overflow: hidden;
        flex-shrink: 0;

        &:hover {
            background: $color-primary;
        }

        &:checked {
            background: $color-primary;
        
            &::after {
                content: "\2714";
                font-size: 20px;
                color: $color-white;
                @include flex-setup($alItems: center, $justContent: center);
          
            }
        }

    }
    
    &__label {
        margin-left: 10px;
    }

}