@use '../../styles/_mixins.scss' as *;
@use '../../styles/_variables.scss' as *;
@use '../../styles/_typography.scss' as *;

.form-group {
    display: flex; 
    align-items: center;
    margin-bottom: 1rem;
    outline: none;
    border: none;

    &__label {
      font-weight: bold;
      margin-right: 1rem;
    }

    &__input {
      border: none;
      border-radius: 3rem;
      height: 3rem;
      width: 100%;
      font-family: 'Montserrat', sans-serif;
      padding: 0 3rem;
      font-size: 1rem;
      border: 1px solid $color-primary-dark;

      &:focus-visible {
        border: 1px solid darken($color-primary-dark, 10%);
      }

    
    }

    &__textarea {
      @extend .form-group__input;
      height: 10rem;
      resize: none;
    }
  }
  
#articleImageUrl {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

label[for=articleImageUrl] {
  
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  padding: 10px 12px;
  background-color: #4245a8;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

#recipe-search {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  transform: translate(-50%);
}

textarea::-webkit-scrollbar {
  width: 16px;
}

textarea::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 3rem;
  margin-top: 26px;
  margin-bottom: 26px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: $color-gray-light;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

